ERPExportSales.Web/Service References/ExportSalesWebService/SFCService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="记日志">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="用户" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="日志标题" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="日志" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="记日志Response">
        <s:complexType />
      </s:element>
      <s:element name="获取更新文件大小">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="大类" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="标准系列" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="文件名" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="三级目录" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="四级目录" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="获取更新文件大小Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="获取更新文件大小Result" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="上传更新文件">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="文件" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="大类" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="标准系列" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="文件名" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="三级目录" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="四级目录" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="上传更新文件Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="上传更新文件Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="删除更新文件">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="大类" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="标准系列" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="文件名" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="三级目录" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="四级目录" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="删除更新文件Response">
        <s:complexType />
      </s:element>
      <s:element name="下载附件">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="客户端IP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="大类" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="标准系列" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="文件名" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="三级目录" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="四级目录" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="下载附件Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="下载附件Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="记日志SoapIn">
    <wsdl:part name="parameters" element="tns:记日志" />
  </wsdl:message>
  <wsdl:message name="记日志SoapOut">
    <wsdl:part name="parameters" element="tns:记日志Response" />
  </wsdl:message>
  <wsdl:message name="获取更新文件大小SoapIn">
    <wsdl:part name="parameters" element="tns:获取更新文件大小" />
  </wsdl:message>
  <wsdl:message name="获取更新文件大小SoapOut">
    <wsdl:part name="parameters" element="tns:获取更新文件大小Response" />
  </wsdl:message>
  <wsdl:message name="上传更新文件SoapIn">
    <wsdl:part name="parameters" element="tns:上传更新文件" />
  </wsdl:message>
  <wsdl:message name="上传更新文件SoapOut">
    <wsdl:part name="parameters" element="tns:上传更新文件Response" />
  </wsdl:message>
  <wsdl:message name="删除更新文件SoapIn">
    <wsdl:part name="parameters" element="tns:删除更新文件" />
  </wsdl:message>
  <wsdl:message name="删除更新文件SoapOut">
    <wsdl:part name="parameters" element="tns:删除更新文件Response" />
  </wsdl:message>
  <wsdl:message name="下载附件SoapIn">
    <wsdl:part name="parameters" element="tns:下载附件" />
  </wsdl:message>
  <wsdl:message name="下载附件SoapOut">
    <wsdl:part name="parameters" element="tns:下载附件Response" />
  </wsdl:message>
  <wsdl:portType name="SFCServiceSoap">
    <wsdl:operation name="记日志">
      <wsdl:input message="tns:记日志SoapIn" />
      <wsdl:output message="tns:记日志SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="获取更新文件大小">
      <wsdl:input message="tns:获取更新文件大小SoapIn" />
      <wsdl:output message="tns:获取更新文件大小SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="上传更新文件">
      <wsdl:input message="tns:上传更新文件SoapIn" />
      <wsdl:output message="tns:上传更新文件SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="删除更新文件">
      <wsdl:input message="tns:删除更新文件SoapIn" />
      <wsdl:output message="tns:删除更新文件SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="下载附件">
      <wsdl:input message="tns:下载附件SoapIn" />
      <wsdl:output message="tns:下载附件SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SFCServiceSoap" type="tns:SFCServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="记日志">
      <soap:operation soapAction="http://tempuri.org/记日志" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="获取更新文件大小">
      <soap:operation soapAction="http://tempuri.org/获取更新文件大小" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="上传更新文件">
      <soap:operation soapAction="http://tempuri.org/上传更新文件" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="删除更新文件">
      <soap:operation soapAction="http://tempuri.org/删除更新文件" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="下载附件">
      <soap:operation soapAction="http://tempuri.org/下载附件" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SFCServiceSoap12" type="tns:SFCServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="记日志">
      <soap12:operation soapAction="http://tempuri.org/记日志" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="获取更新文件大小">
      <soap12:operation soapAction="http://tempuri.org/获取更新文件大小" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="上传更新文件">
      <soap12:operation soapAction="http://tempuri.org/上传更新文件" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="删除更新文件">
      <soap12:operation soapAction="http://tempuri.org/删除更新文件" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="下载附件">
      <soap12:operation soapAction="http://tempuri.org/下载附件" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SFCService">
    <wsdl:port name="SFCServiceSoap" binding="tns:SFCServiceSoap">
      <soap:address location="http://haiyun.sfiec.cn:8081/SFCService.asmx" />
    </wsdl:port>
    <wsdl:port name="SFCServiceSoap12" binding="tns:SFCServiceSoap12">
      <soap12:address location="http://haiyun.sfiec.cn:8081/SFCService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>